@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LEGO CLASSICS</h1>
    <p>You will found some of the best ideas to build with legos.</p>
    
</div>
